.navbar_d {
    background: rgba(255, 255, 255, 0.2);
    background-image: url(navbg.jpg);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(50px);
}